.form {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);

  width: 70%;
  display: flex;
  align-items: center;
  padding: var(--padding-narrow);
  padding-left: var(--padding-mid);
  border-radius: 5px;
  background-color: var(--color-white);
}

.btn {
  padding: 0;
  margin: 0 var(--margin-narrow);
  margin-top: 5px;
}

.icon {
  border-radius: 5px;
  font-size: 2.5rem !important;
  background-color: var(--color-grey);
  color: var(--color-black);
  transition: 0.3s;
  cursor: pointer;
}

.icon:hover {
  background-color: var(--color-white);
  color: var(--color-grey);
}