.wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--margin-mid);
}

.select:not(:last-child) {
  margin-right: var(--margin-narrow);
}

.option {
  border-radius: 0.2rem;
  background-color: var(--color-tertiary);
}

@media (max-width: 52rem) {
  .wrapper {
    grid-column: 1/-1;
  }
}