.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mid) var(--padding-extra);
  width: 100%;
}

.success {
  width: 50%;
  padding: var(--padding-mid) var(--padding-extra);
  border-radius: 1rem;
  background-image: linear-gradient(var(--color-primary), var(--color-dark));
  color: var(--color-white);

  text-align: center;
}

.link {
  color: var(--color-white);
  text-decoration: underline;
}

/* Tablets and ipads */
@media (max-width: 52rem) { 
  .success {
    width: 70%;
  }
}
  
/* Mobile devices */
@media (max-width: 36rem) {
  .success {
    width: 100%;
  }
}