.wrapper {
  flex: 1;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mid) var(--padding-extra);
}

.form {
  width: 32rem;
  border-radius: 1rem;
}

.form > *:not(last-child) {
  margin-bottom: var(--margin-mid);
}

.instr {
  text-align: center;
  margin-bottom: var(--margin-mid);
}

.btn {
  margin-top: var(--margin-wide);
}

.error {
  margin: var(--margin-mid) 0;
  padding: var(--padding-narrow);
  padding-left: var(--margin-mid);

  border: 1.5px red solid;
  border-radius: 1.5rem;
  background-color: var(--color-warning);
}

.link {
  color: var(--color-white);
  text-decoration: underline;
}

.input {
  border-radius: 1.5rem;
  padding-left: 1rem;
  color: black;
}

/* Tablets and ipads */
@media (max-width: 52rem) { 
  .form {
    width: 70%;
  }
}

/* Mobile devices */
@media (max-width: 36rem) {
  .form {
    width: 100%;
  }
}