.wrapper {
  height: 25rem;
  margin: var(--margin-wide);
  border-radius: 0.5rem;
  display: flex;
}

.linkwrapper {
  margin-top: var(--margin-wide);
  margin-left: var(--margin-wide);
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img {
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

@media (max-width: 36rem) {
  .wrapper {
    height: 15rem;
  }
}